
.container-md.text-center{
    margin-top: 33px;
}

#container-general{
        
        max-width: 750px;
        margin: 10px auto;
        overflow: auto;
        min-height: 300px;
        border: 2px solid steelblue;
        padding: 15px;
        border-radius: 5px;
    
}

#titulo{
    padding: 5%;
}



