<!-- Alerta De Escritorio -->
<div *ngIf="alerta1" id="alerta1" class="alert alert-primary" role="alert">
  {{ alerta1 }}
</div>

<div *ngIf="alerta2" id="alerta2" class="alert alert-primary" role="alert">
  {{ alerta2 }}
</div>



<!-- Live Api -->
<div *ngIf="liveApi">
  <p>liveApi = ✅</p>
</div>
<div *ngIf="!liveApi">
  <p>La API no está disponible</p>
</div>


<div id="tabla">
<table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticket</th>
      <th scope="col">PrecioEjecucion</th>
      <th scope="col">Direccion</th>
      <th scope="col">Encendido??</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody *ngFor="let listAlerts of listaAlertas" class ="{{ listAlerts.color }}">
    <tr>
      <th scope="row">🔔</th>
      <td>{{ listAlerts.nombre.toUpperCase() }}</td>
      <td>{{ listAlerts.precioEstablecido }}</td>
      <td>{{ listAlerts.direccion }}</td>
      <td>{{ listAlerts.encendido }}</td>
      <td>
        <a href="" type="button" (click)="deleteTicket(listAlerts.id)">✖</a> 
      </td>
    </tr>
  </tbody>
</table>
</div>
