<!-- On tables -->
<table class="table table-warning table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticket</th>
      <th scope="col">PrecioEjecucion</th>
      <th scope="col">Direccion</th>
      <th scope="col">Encendido??</th>
      <th scope="col">Encendido??</th>
    </tr>
  </thead>

  <tbody *ngFor="let listAlerts of listaAlertas"   >
    <tr>
      <th scope="row">{{ listAlerts.id }}</th>
      <td>{{ listAlerts.nombre }}</td>
      <td>{{ listAlerts.precioEstablecido }}</td>
      <td>{{ listAlerts.direccion }}</td>
      <td>{{ listAlerts.encendido }}</td>
      <td>
        <a href="" type="button" (click)="deleteTicket(listAlerts.id)">Eliminar></a> 
        </td>
    </tr>
  </tbody>

</table>
