<div class="container">
  <div id="input">
    
      <div id="select">
      <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        name="selectedOption" [(ngModel)]="selectedOption">

        <option *ngFor="let item of lista" [value]="item.baseAsset">{{ item.baseAsset }} {{ item.lastPrice}}</option>

      </select>
      </div>
    


    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
      <div id="form">
      <div class="form-group" id="input-number">
        <input type="text" class="form-control" id="precioEstablecido" name="precioEstablecido"
          [(ngModel)]="precioEstablecido" required>precio
      </div>

      <div id="select-direccion">
        <select class="btn btn-secondary dropdown-toggle" type="text" data-bs-toggle="dropdown" name="direccion"
          [(ngModel)]="direccion">
          <option>Encima</option>
          <option>Debajo</option>
        </select>
      </div>
    </div>

    <button class="btn btn-primary mt-4">Agregar</button>

      
        
    </form>
  </div>

  

</div>

